PROJECT_NAME="Project Name Exemple"
PROJECT_EMAIL="https://exemple.com"
PROJECT_URL="info@exemple.com"

DB_DSN="postgresql+psycopg2://test_user:pA$$W0rd@localhost/test_db"

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false

JWT_ALGORITHM=HS256
# Generate with one of these commands:
#   openssl rand -hex 32
#   python -c 'import secrets; print(secrets.token_hex(32))'
JWT_SECRET=
JWT_TTL=86400
